--extra-index-url https://pypi.org/simple
opencv-python-headless==4.10.0.84
streamlit==1.43.2
torch>=2.4.0
torchvision>=0.19.0
numpy==1.26.4
pandas>=2.2.0
pillow>=10.4.0
matplotlib>=3.10.0
pyyaml>=6.0.2
supabase
ultralytics>=8.3.0
